{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-4">

    <h2>About Smart Quiz</h2>

    <p>
        Smart Quiz is an online quiz application developed using Python and Django.
        It allows users to register, log in, attempt quizzes, view results,
        track their quiz history, and download certificates.
    </p>

    <p><strong>Technology Used:</strong></p>

    <ul>
        <li>Python</li>
        <li>Django</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>SQLite</li>
    </ul>

</div>

{% endblock %}